<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>


  <!-- NOTE: When MusicBrailleReader is used as an application inside MusicXmlReader it inherits ""DeveloperMode" settings from MusicXmlReader!!  -->
    <appSettings> 
      <add key="DeveloperMode" value="no"/>
    </appSettings>

</configuration>
