<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicXmlReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <!-- <add key="DeveloperCulture" value="sv-SE" /> -->
      <!-- <add key="DeveloperCulture" value="en-US" /> -->
      <!-- <add key="DeveloperCulture" value="nl-NL" /> -->
      <!-- <add key="DeveloperCulture" value="ru-RU" /> -->     
      <add key="DeveloperMode" value="yes" />
      <add key="ExperimentalCode" value="no" />
      <add key="HandleGraphics" value="no" />
      <add key="DecoderDeveloperMode" value="no" /> 
      <add key="UseExternal7Zip" value="no" /> 
    </appSettings>

    <userSettings>
        <MusicXmlReader.Properties.Settings>
            <setting name="EmbosserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmbosserEscapeSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="BrailleMusicDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="EmbosserFileFormat" serializeAs="String">
                <value>BRF_ASCII</value>
            </setting>
            <setting name="EmbosserPageWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="EmbosserPageHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BrailleMusicDeviceType" serializeAs="String">
                <value />
            </setting>
            <setting name="NoteTakerPageWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="NoteTakerPageHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoteTakerFileFormat" serializeAs="String">
                <value>BRF_ASCII</value>
            </setting>
            <setting name="OptionalFormatPageWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionalFormatPageHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="NoteTakerName" serializeAs="String">
                <value />
            </setting>
            <setting name="NoteTakerEscapeSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicXmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EmbosserApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmbosserApplicationLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="GenericDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="GenericDeviceEscapeSequence" serializeAs="String">
                <value>DBT0</value>
            </setting>
            <setting name="GenericDeviceFileFormat" serializeAs="String">
                <value>BRF_ASCII</value>
            </setting>
            <setting name="GenericDevicePageWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GenericDevicePageHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="GenericDeviceApplicationName" serializeAs="String">
                <value>IbPrint</value>
            </setting>
            <setting name="GenericDeviceApplicationLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Index Braille\IbPrint\IbPrint.exe</value>
            </setting>
            <setting name="MuseScoreExe" serializeAs="String">
                <value>C:\Program Files\MuseScore 3\bin\MuseScore3.exe</value>
            </setting>
            <setting name="SibeliusExe" serializeAs="String">
                <value>C:\Program Files\Avid\Sibelius\Sibelius.exe</value>
            </setting>
            <setting name="CapellaExe" serializeAs="String">
                <value>C:\Program Files (x86)\capella-software\capella 8\bin\capella.exe</value>
            </setting>
            <setting name="EmbosserPageLayout" serializeAs="String">
                <value>BANA</value>
            </setting>
            <setting name="NoteTakerPageLayout" serializeAs="String">
                <value>BANA</value>
            </setting>
            <setting name="GenericDevicePageLayout" serializeAs="String">
                <value>BANA</value>
            </setting>
            <setting name="FinaleExe" serializeAs="String">
                <value>C:\Program Files (x86)\Finale NotePad 2012\Finale NotePad.exe</value>
            </setting>
            <setting name="HighSpeedEmbosserName" serializeAs="String">
                <value>Braillo 650 SF</value>
            </setting>
            <setting name="HighSpeedEmbosserFileFormat" serializeAs="String">
                <value>PEF</value>
            </setting>
            <setting name="HighSpeedEmbosserPageWidth" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="HighSpeedEmbosserPageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighSpeedEmbosserPageLayout" serializeAs="String">
                <value>BANA</value>
            </setting>
            <setting name="HighSpeedEmbosserEscapeSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="HighSpeedEmbosserApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="HighSpeedEmbosserApplicationLocation" serializeAs="String">
                <value />
            </setting>
        </MusicXmlReader.Properties.Settings>
    </userSettings>
</configuration>