<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="MuseScoreExe" value="C:\Program Files\MuseScore 3\bin\MuseScore3.exe" />
      <add key="SibeliusExe" value="C:\Program Files\Avid\Sibelius\Sibelius.exe"/>
      <add key="IBPrintExe" value="C:\Program Files (x86)\Index Braille\IbPrint\IbPrint.exe"/>
      <add key="EmbosserCharactersPerLine" value="32"/>
      <add key="EmbosserLinesPerPage" value="30"/>  
      <!-- <add key="DeveloperCulture" value="sv-SE" /> -->
      <!-- <add key="DeveloperCulture" value="en-US" /> -->
      <!-- <add key="DeveloperCulture" value="nl-NL" />  -->
      <add key="DeveloperMode" value="no" />
     <add key="ExperimentalCode" value="no" />
    </appSettings>

</configuration>